#logo {
  height: 64px;
  overflow: hidden;
  color: rgba(0,0,0,.85);
  font-size: 18px;
  font-family: Avenir,-apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji,sans-serif;
  line-height: 64px;
  white-space: nowrap;
  text-decoration: none;
}

#logo img {
  position: relative;
  top: -1.5px;
  height: 32px;
  margin-right: 16px;
}

#profile-avatar {
  position: relative;
  height: 138px;
}

.site-layout-background {
  padding: 24px;
  min-height: 100vh;
  max-width: 900px;
  margin: auto;
  text-align: center;
}

/* Board */
.board-container {
  width: 100%;
}

.board {
  border: 1px solid #e4e7eb;
  background-color: #e4e7eb;
}

.board-row {
  display: flex;
}

/* Square */

.btn {
  padding: 10px 20px;
  margin: 0 5px
}

.btn-board {
  position: relative;
  padding: 0;
  margin: 1px;
  background-color: /*rgba(76, 76, 76, 0.2)*/ #fff;
  border: none;
  color: white;
  padding: 4px 4px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  width: 100%;
}

.btn:hover {
  background-color: #FFEAA7; 
}

.btn:active {
  background-color: #e4e7eb; 
}

.board-row > .btn {
  flex: 1 1;
}

.board-row > .btn::before {
  content: "";
  display: block;
  padding-top: 100%;
}

.x {
  display: block;
  width: 95%;
  height: 95%;
  position: absolute;
  top: 45%;
  left: 51%;
  -webkit-transform: translate(-50%,-40%);
  -ms-transform: translate(-50%,-40%);
  transform: translate(-50%,-40%);
}

.x:after, .x:before {
  position: absolute;
  left: 45%;
  content: " ";
  height: 90%;
  width: 2px;
  background-color: #4a7dfb;
}

.x:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.x:before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.o {
  display: block;
  width: 70%;
  height: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
  border-radius: 50%;
  border: 2px solid #da515f;
}

.rcw-conversation-container > .rcw-header {
  background-color: #fff;
}

/* 
.rcw-message > .rcw-message-text {
  background-color: ;
} */